@model CustomerDashboard.Customer

@{
    ViewBag.Title = "Customer Registration";
}

<div class="page-header header-filter" style="background-image:url('../../Images/bg.jpg'); background-size: cover; background-position: top center;">
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-6 col-md-6 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-primary text-center">
                        <h3 class="card-title">Customer Registration</h3>
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <div class="row">
                                        @*@Html.LabelFor(model => model.CustFirstName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-lg-6">
                                            <div class="input-group">


                                                @Html.EditorFor(model => model.CustFirstName, new { htmlAttributes = new { placeholder = "First Name", @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CustFirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @*</div>
                    </div>
                <div class="form-group">
                    <div class="row">*@
                                        @*@Html.LabelFor(model => model.CustLastName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class=" col-lg-6 input-group">
                                            @Html.EditorFor(model => model.CustLastName, new { htmlAttributes = new { placeholder = "Last Name", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CustLastName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @*@Html.LabelFor(model => model.CustAddress, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-lg-12 input-group">
                                            @Html.EditorFor(model => model.CustAddress, new { htmlAttributes = new { placeholder = "Address", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CustAddress, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @*@Html.LabelFor(model => model.CustCity, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-lg-12 input-group">
                                            @Html.EditorFor(model => model.CustCity, new { htmlAttributes = new { placeholder = "City", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CustCity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @*@Html.LabelFor(model => model.CustProv, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-lg-12 input-group">
                                            <button type="button" class="btn btn-primary btn-link btn-wd btn-lg" disabled>Province</button>
                                            @Html.DropDownList("CustProv", new SelectList(Enum.GetValues(typeof(CustProv))),
                                                    "Select Province", new { @class = " btn btn-primary btn-link btn-wd btn-lg" })


                                            @*@Html.EditorFor(model => model.CustProv, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.ValidationMessageFor(model => model.CustProv, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @*@Html.LabelFor(model => model.CustPostal, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-lg-6 input-group">


                                            @Html.EditorFor(model => model.CustPostal, new { htmlAttributes = new { placeholder = "Postal Code", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CustPostal, "", new { @class = "text-danger" })
                                        </div>

                                        @*@Html.LabelFor(model => model.CustCountry, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-lg-6 input-group">
                                            @Html.EditorFor(model => model.CustCountry, new { htmlAttributes = new { placeholder = "Country", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CustCountry, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @*@Html.LabelFor(model => model.CustHomePhone, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-lg-6 input-group">
                                            @Html.EditorFor(model => model.CustHomePhone, new { htmlAttributes = new { placeholder = "Home Phone", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CustHomePhone, "", new { @class = "text-danger" })
                                        </div>

                                        @*@Html.LabelFor(model => model.CustBusPhone, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-lg-6 input-group">
                                            @Html.EditorFor(model => model.CustBusPhone, new { htmlAttributes = new { placeholder = "Business Phone", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CustBusPhone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @*@Html.LabelFor(model => model.CustEmail, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-lg-12 input-group">
                                            @Html.EditorFor(model => model.CustEmail, new { htmlAttributes = new { placeholder = "Email", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CustEmail, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <br />
                                <h3 class="text-primary">Set Your Password:</h3>
                                <div class="form-group">
                                    <div class="row">
                                        @*@Html.LabelFor(model => model.CustPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-lg-12 input-group">
                                            @Html.EditorFor(model => model.CustPassword, new { htmlAttributes = new { placeholder = "Enter Password", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.CustPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        @*@Html.LabelFor(model => model.ComparePassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="col-lg-12 input-group">
                                            @Html.EditorFor(model => model.ComparePassword, new { htmlAttributes = new { placeholder = "Re-enter Password", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ComparePassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group text-center">

                                    <input type="submit" value="Create" class="btn btn-primary" />

                                </div>
                            </div>                                
                            }

                                <div class="text-center">
                                    @Html.ActionLink("Already have account? Login", "Login")
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
